* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
 background: url('mestecko.jpeg') no-repeat center center;
 background-size: cover; 
    background-attachment: fixed; 
    background-color: #000; 
 height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.container {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 600px; 
    backdrop-filter: blur(5px);
}
    
.container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: black;
    margin-bottom: 15px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container a {
    display: inline;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 20px;
}
.container p {
    margin-bottom: 10px;
}


