* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('nejim.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('cursor.cur'), auto !important;
    overflow: hidden;
    backdrop-filter: blur(8px);
}

.container {
    position: fixed;
    background: rgba(3, 0, 31, 0.8);
    color: white;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    backdrop-filter: blur(10px);
    transition: none;
}

.container img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.container h1 {
    font-size: 25px;
    margin-top: 15px;
}

.socialki {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.social-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 5px;
}

.social-icon i {
    font-size: 1.5rem;
}

.discord-popup,
#steam-popup, #github-popup, #instagram-popup, #hippo-popup, #portfolio-popup {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    color: white;
    min-width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 2px;
    z-index: 10;
}

.social-icon:hover .discord-popup,
.social-icon.steam:hover #steam-popup,
.social-icon.github:hover #github-popup,
.social-icon.instagram:hover #instagram-popup,
.social-icon.hippo:hover #hippo-popup,
.social-icon.portfolio:hover #portfolio-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) scale(0.9);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
}
